<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		id="co.mylonas.cordova.applicationstate" version="0.0.1">
	<name>Application State</name>
	<description>Application State</description>

	<js-module src="www/ApplicationState.js" name="ApplicationState">
		<clobbers target="ApplicationState" />
	</js-module>
	
	<platform name="android">
		<config-file target="config.xml" parent="/*">
			<feature name="ApplicationState">
				<param name="android-package" value="co.mylonas.cordova.applicationstate.ApplicationState" />
			</feature>
		</config-file>
		
		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.GET_TASKS" />
		</config-file>
		
		<source-file src="src/ApplicationState.java" target-dir="src/co/mylonas/cordova/applicationstate" />
	</platform>
	
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="ApplicationState">
				<param name="ios-package" value="ApplicationState" />
			</feature>
		</config-file>
		<header-file src="src/ApplicationState.h" />
        <source-file src="src/ApplicationState.m" />
	</platform>

</plugin>
